@model blogapi.Models.Author
@{
    Layout = "../Shared/_Layout";
}

<div class="container mt-5 d-flex flex-row justify-content-center">
<!-- Register Form -->
    <div class="card form-container">
        <div class="card-header form-header">
            <h2>Register</h2>
        </div>
        <div class="card-body form-body">
            @using (Html.BeginForm("Register", "AuthenticationController", FormMethod.Post, new { @class = "form" }))
            {
                <div class="form-group">
                    @Html.LabelFor(model => model.Name)
                    @Html.TextBoxFor(model => model.Name, new { @class = "form-control" })
                </div>
                <div class="form-group">
                    @Html.LabelFor(model => model.Email)
                    @Html.TextBoxFor(model => model.Email, new { @class = "form-control" })
                </div>
                <div class="form-group">
                    @Html.LabelFor(model => model.Password)
                    @Html.PasswordFor(model => model.Password, new { @class = "form-control" })
                </div>
                <button type="submit" class="btn btn-success">Register</button>
            }
        </div>
    </div>
</div>